.price{
    padding-top: 120px;
    &__items{
        display: flex;
        justify-content: space-between;
        padding: 60px 50px 0 50px;
        @media (max-width:1200px){
            padding: 0;
            padding-top: 20px;
        }
        @media (max-width:992px){
            flex-wrap: wrap;
            gap: 20px;
        }
    }
    &__column{
        display: flex;
        flex-direction: column;
        @media (max-width:1200px){
            width: 47%;
        }
        @media (max-width:800px){
            width: 80%;
            margin: 0 auto;
            // justify-content: center;
        }
    }
    &__item{
        padding: 8px;
        position: relative;
        
        &-summ{
            display: flex;
            justify-content: space-between;
            
        }
        &:before{
            content: '';
            position: absolute;
            left: -18px;
            top: 12px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $main-color-2;
        }
    }
}