.promo{
    min-height: 100vh;
    position: relative;
    background-color: #6e4f4f;
    // background: url('../img/promo2.jpg')  no-repeat center/cover;
    // no-repeat left/cover 
    // padding-top: 50px;
    // .container{

    // }
    &__title{
        width: 60%;
        color: $main-color-2;
        padding-left: -15px;
        text-shadow: 3px 3px 4px rgb(63, 41, 45);
    }
    &__subtitle{
        position: relative;
        width: 30%;
        padding-left: 30px;
        // padding: 5% 0 0 5%;
        z-index: 2;
        @include before_circle;
    }
    &__btns{
        position: absolute;
        bottom: 50px;
        right: 7%;
        display: flex;
    }
    &__link{
        color: black;
        font-weight: bold;
        text-decoration: none;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }
}
.hamburger{
    position: absolute;
    top: 20px;
    right: 30px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    span{
        display: block;
        width: 30px;
        height: 3px;
        background-color: #151812;
    }
    span.long{
        width: 36px;
    }
}
.menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
    &.active{
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    &__block{
        position: relative;
        width: 345px;
        height: 100%;
        padding-top: 140px;
        padding-left: 40px;
        background-color: $main-color-2;
        transition: all 0.6s;
        z-index: 10;
    }
    &__close{
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    &__list{
        list-style-type: none;
        padding-left: 35px;
    }
    &__link{
        position: relative;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 15px;
        &:before{
            content: '';
            position: absolute;
            left: -35px;
            top: 10px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid #fff;
            transition: all 0.6s;
        }
        &:hover{
            &:before{
                background-color: #fff;
            }
        }
        a{
            color: #fff;
            text-transform: uppercase;
        }
    }
    &__social{
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.75;
    }
}