.sidepanel{
    position: fixed;
    top: 330px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    align-items: center;
    z-index: 3;
    svg{
        path{
            fill: $main-color-2;
        }
        &:hover{
            path{
                fill: rgb(107, 43, 43);
            }
        }
    }
}