.skills{
    padding-top: 120px;
    &__title{
        position: relative;
        text-align: center;
        @include before_circle;
        &:before{
            top:-5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle{
        text-align: center;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(auto-fit, 270px);
        grid-template-rows: 1fr;
        justify-content: center;
        gap: 13px;
        padding-top: 60px;
    }
    &__item{
        padding: 30px;
        padding-bottom: 25px;
        border: 1px solid #000;
        h3{
            font-weight: bold;
            font-size: 14px;
            padding-top: 20px;
        }
    }
    &__text{
        font-size: 12px;
    }
    &__progress{
        padding-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        gap: 47px;
        .part{
            display: flex;
            justify-content: space-between;
            &-title{
                position: relative;
                text-align: center;
                padding-left: 7px;
                padding-bottom: 8px;
                @include before_circle;
                &:before{
                    top:-8px;
                    left: 14px;
                    transform: translateX(-50%);
                }
            }
        }
        .part__view{
            height: 14px;
            width: 100%;
            background-color: #E8E4DE;
            border-radius: 5px;
            &-color{
                height: 14px;
                border-radius: 5px;
                background-color: $main-color-2;
            }
        }
        @media (max-width:1200px){
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: center;
        }
    }
}